body {
  color: #555;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}
a {
  text-decoration: none;
  color: #1abc9c;
}
a:hover {
  color: #f6a623;
}
#header-nav {
  display: block;
  float: right;
  margin-top: 0;
}
#header-nav li {
  display: inline;
  padding-left: 20px;
}
#header {
  background-color: #decba4;

  height: 150px;
  line-height: 150px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  border: 1 px solid black;
}
#header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#header a:hover {
  color: #222;
}
#header-title {
  display: block;
  position: absolute;
  z-index: 1;
  float: left;
  font-size: 20px;
  font-weight: bold;
}
#footer {
  background-color: #3e5151;
  padding: 40px 0;
  color: #d2d2d2;
  text-align: center;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p {
  color: white;
}
.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
.post,
.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
.post-author img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  vertical-align: middle;
}
.post-author span {
  margin-left: 16px;
}
.post-date {
  color: #d2d2d2;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
h1,
h2,
h3,
h4 {
  color: #333;
}
p {
  line-height: 1.4;
}
.about-author img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  vertical-align: middle;
}
.about {
  left: 0;
  line-height: 200px;
  margin-top: 50px;
  position: relative;
  text-align: center;
  top: 60%;
  width: 100%;
}
